<div class="row fill">
  <div class="filetree-container col-sm-4 col-md-3 sidebar" ng-controller="FiletreeControlCtrl">
    <div class="btn-group btn-group-sm btn-group-justified filetree-controls" role="group">
      <div class="btn-group btn-group-sm" role="group">
        <button
          type="button"
          class="btn btn-default filetree-btn"
          tooltip="Edit Selected"
          tooltip-trigger="mouseenter"
          tooltip-placement="bottom"
          ng-disabled="sd.noSelections||sd.dirSelected">
          <span class="fa fa-pencil"></span>
        </button>
      </div>
      <div class="btn-group btn-group-sm" role="group">
        <button
          type="button"
          class="btn btn-default filetree-btn"
          tooltip="Duplicate Selected"
          tooltip-trigger="mouseenter"
          tooltip-placement="bottom"
          ng-disabled="sd.noSelections||sd.multipleSelections"
          ng-click="createDuplicate()">
          <span class="fa fa-files-o"></span>
        </button>
      </div>
      <div class="btn-group btn-group-sm" role="group">
        <button
          type="button"
          class="btn btn-default filetree-btn"
          tooltip="Delete Selected"
          tooltip-trigger="mouseenter"
          tooltip-placement="bottom"
          ng-disabled="sd.noSelections"
          ng-click="deleteFiles()">
          <span class="fa fa-trash-o"></span>
        </button>
      </div>
      <div class="btn-group btn-group-sm" role="group">
        <button
          type="button"
          class="btn btn-default filetree-btn"
          tooltip="Refresh Filetree"
          tooltip-trigger="mouseenter"
          tooltip-placement="bottom"
          ng-click="updateFiletree()">
          <span class="fa fa-refresh"></span>
        </button>
      </div>
      <div
        id="fc-more-btn"
        class="btn-group btn-group-sm"
        role="group"
        dropdown
        is-open="fcDropdown.new">
        <button
          type="button"
          class="btn btn-default dropdown-toggle filetree-btn"
          ng-disabled="sd.noSelections"
          dropdown-toggle>
          <span class="filetree-control-label">More </span>
          <span class="fa fa-caret-down"></span>
        </button>
        <ul class="dropdown-menu filetree-dropdown" role="menu">
          <li>
            <a
              class="btn fc-dropdown-link"
              ng-disabled="sd.noSelections||(sd.multipleSelections||!sd.dirSelected)"
              ng-click="createNewFile()">
              New File
            </a>
          </li>
          <li>
            <a
              class="btn fc-dropdown-link"
              ng-disabled="sd.noSelections||(sd.multipleSelections||!sd.dirSelected)"
              ng-click="createNewDir()">
              New Folder
            </a>
          </li>
          <li><a>Copy Selected</a></li>
          <li><a>Paste</a></li>
          <li><a>Rename</a></li>
          <li><a>File Info</a></li>
        </ul>
      </div>
    </div>
    <div ng-controller="FiletreeCtrl">
      <treecontrol
        class="tree-oide"
        tree-model="treeData.filetreeContents"
        options="treeOptions"
        order-by="type+filename"
        selected-nodes="treeData.selectedNodes"
        expanded-nodes="treeData.expandedNodes"
        on-selection="describeSelection(node, selected)"
        on-node-toggle="getDirContents(node,expanded)">
        {{node.filename}}
        <span class="filetree-permissions">{{node.permissions}}</span>
      </treecontrol>
    </div>
  </div>
  <div class="col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3 main fill">
    <!-- <h2 class="sub-header">Section title</h2> -->
    <div
      id="editor-nav-tabs"
      ng-controller="EditorTabsCtrl">
      <tabset>
        <tab
          ng-repeat="tab in tabs"
          active="tab.active"
          ng-click="loadEditorContents(tab)">
          <tab-heading>
            <span
              tooltip="{{tab.filepath}}"
              tooltip-trigger="mouseenter"
              tooltip-placement="bottom">
              {{tab.filename}}
            </span>
            <span
              class="fa fa-lg fa-caret-down tab-icon dropdown"
              ng-class="{'tab-icon-selected':hoverMenu}"
              ng-mouseenter="hoverMenu=true"
              ng-mouseleave="hoverMenu=false"
              dropdown
              dropdown-toggle>
              <ul class="dropdown-menu">
                <li><a
                  href="#"
                  ng-click="undoChanges(tab)">
                  Undo
                  <span class="menu-shortcut pull-right">ctrl+z</span>
                </a></li>
                <li><a
                  href="#"
                  ng-click="redoChanges(tab)">
                  Redo
                  <span class="menu-shortcut pull-right">ctrl+y</span>
                </a></li>
                <li><a
                  href="#"
                  ng-click="cutSelection()"
                  ng-disabled="!tab.active">
                  Cut
                  <span class="menu-shortcut pull-right">ctrl+x</span>
                </a></li>
                <li><a
                  href="#"
                  ng-click"copySelection()"
                  ng-disabled="!tab.active">
                  Copy
                  <span class="menu-shortcut pull-right">ctrl+c</span>
                </a></li>
                <li><a
                  href="#"
                  ng-click="pasteClipboard()"
                  ng-disabled="!clipboardHasContents||!tab.active">
                  Paste
                  <span class="menu-shortcut pull-right">ctrl+v</span>
                </a></li>
                <li><a
                  href="#"
                  ng-click="commentSelection()">
                  Comment
                  <span class="menu-shortcut pull-right">ctrl+/</span>
                </a></li>
                <li class="divider"></li>
                <li><a href="#">Save</a></li>
                <li><a href="#">Save As...</a></li>
                <li><a href="#">Close File</a></li>
              </ul>
            </span>
            <span
              class="fa fa-lg tab-icon"
              ng-class="{'fa-times':!tab.unsaved||hoverClose,'fa-circle-o':tab.unsaved&&!hoverClose,'tab-icon-selected':hoverClose}"
              ng-mouseenter="hoverClose=true"
              ng-mouseleave="hoverClose=false">
            </span>
          </tab-heading>
        </tab>
        <tab
          tooltip="Create New Document"
          tooltip-trigger="mouseenter"
          tooltip-placement="right"
          ng-mouseenter="hoverNew=true"
          ng-mouseleave="hoverNew=false"
          active="false">
          <tab-heading>
            <span
              class="fa fa-lg fa-plus"
              ng-class="{'tab-icon-selected':hoverNew}">
            </span>
          </tab-heading>
        </tab>
      </tabset>
    </div>
    <div class="partial-fill">
      <!-- <span id="editor-settings-icon" class="glyphicon glyphicon-cog" popover="Editor Settings" popover-placement="bottom" popover-trigger="mouseenter"></span> -->
      <span id="editor-settings-icon"
        class="fa fa-cog fa-2x"
        tooltip="Editor Settings"
        tooltip-trigger="mouseenter"
        tooltip-placement="top"
        ng-mouseenter="hover=true"
        ng-mouseleave="hover=false"
        ng-init="settingsOpen=false"
        ng-class="{'clicked':settingsOpen,'fa-spin':hover}"
        ng-click="settingsOpen=!settingsOpen">
      </span>
      <div id="editor-settings-sidebar" ng-show="settingsOpen">
        <h3 id="editor-settings-header" class="pull-right">Editor Settings</h3>
        <form
          id="editor-settings-form"
          role="form"
          ng-controller="EditorSettingsCtrl">
            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  ng-model="editorSettings.useSoftTabs"
                  ng-change="applyEditorSettings()">
                Use soft tabs
              </label>
            </div>
            <div class="form-group">
              <label for="settings-tab-size">Tab size</label>
              <select
                id="settings-tab-size"
                class="form-control input-sm"
                ng-model="editorSettings.tabSize"
                ng-change="applyEditorSettings()"
                ng-options="opt as opt.label for opt in tabOptions">
              </select>
            </div>
            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  ng-model="editorSettings.showInvisibles"
                  ng-change="applyEditorSettings()">
                Show invisible characters
              </label>
            </div>
            <div class="form-group">
              <label for="settings-font-size">Font Size</label>
              <select
                id="settings-font-size"
                class="form-control input-sm"
                ng-model="editorSettings.fontSize"
                ng-change="applyEditorSettings()"
                ng-options="opt as opt.label for opt in fontOptions">
              </select>
            </div>
          </form>
        </div>
      <div
        id="aceplace"
        ui-ace="{onLoad:onAceLoad}"
        ng-model="editorModel"
        ng-controller="EditorCtrl">
      </div>

      <form
        id="find-menu"
        class="form-horizontal"
        ng-controller="EditorFindCtrl">
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm" >
            <span
              class="input-group-addon"
              tooltip="Case Sensitive"
              tooltip-trigger="mouseenter"
              tooltip-placement="top">
              <input
                type="checkbox"
                ng-model="findOptions.caseSensitive">
              Aa
            </span>
            <span
              class="input-group-addon"
              tooltip="Match Whole Word"
              tooltip-trigger="mouseenter"
              tooltip-placement="top">
              <input
                type="checkbox"
                ng-model="findOptions.wholeWord">
              \b
            </span>
            <span
              class="input-group-addon"
              tooltip="Use Regular Expressions"
              tooltip-trigger="mouseenter"
              tooltip-placement="top">
              <input
                type="checkbox"
                ng-model="findOptions.regExp">
              [.*]
            </span>
            <span
              class="input-group-addon"
              tooltip="Wrap Around"
              tooltip-trigger="mouseenter"
              tooltip-placement="top">
              <input
                type="checkbox"
                ng-model="findOptions.wrap">
              Wrap
            </span>
            <input
              type="text"
              placeholder="Find string in current document..."
              class="form-control"
              ng-model="findNeedle">
            <div class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="findPreviousString()">
                &laquo; Find Previous
              </button>
              <button
                type="button"
                class="btn btn-default"
                ng-click="findString()">
                Find Next &raquo;
              </button>
            </div>
          </div>
        </div>
        <div class="form-group form-group-sm">
          <div class="input-group input-group-sm" >
            <input
              type="text"
              placeholder="Replace selected string with..."
              class="form-control"
              ng-model="replaceNeedle">
            <div class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="replaceCurrentString()">
                Replace
              </button>
              <button
                type="button"
                class="btn btn-default"
                ng-click="replaceAllStrings()">
                Replace All
              </button>
            </div>
          </div>
        </div>

      </form>

    </div>


  </div>
</div>
