{% extends "../../../lib/templates/base.html" %}

{% block content %}
<div id="gateone_container" style="position: absolute; left: 0; right: 0; top: 50px; bottom: 0;">
    <div id="gateone"></div>
</div>
{% end %}

{% block end_script %}

    <script src="{{ gateone_static_url }}/static/gateone.js"></script>
    <script>
        window.onload = function() {
            var authobj = {% raw json_authobj %};
            GateOne.init({
                url: '{{ gateone_url }}',
                auth: authobj,
                origins: '{{ gateone_origins_url }}',
                showTitle: false,
                showToolbar: true
            });
        };
    </script>
{% end %}
