include AUTHORS CHANGES README.md INSTALL LICENSE DESCRIPTION.rst
prune .git
prune .gitignore
recursive-exclude sandstone *.pyc
prune sandstone/client/node_modules
recursive-include sandstone/apps *.py *.js *.html *.css
recursive-include sandstone/lib *.py *.js *.html *.css
graft sandstone/client/sandstone
