include AUTHORS CHANGES README.md INSTALL LICENSE DESCRIPTION.rst
prune .git
prune .gitignore
recursive-exclude oide *.pyc
prune oide/client/node_modules
recursive-include oide/apps *.py *.js *.html *.css
recursive-include oide/lib *.py *.js *.html *.css
graft oide/client/oide
