include AUTHORS CHANGES README.md INSTALL LICENSE DESCRIPTION.rst
prune .git
prune .gitignore
recursive-exclude oide *.pyc
recursive-include oide/apps *.py *.js *.html *.css
recursive-include oide/lib *.py *.js *.html *.css
recursive-include oide/client/oide
