<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-exclamation fa-border"></i> Confirm Remove</h3>
</div>
<div class="modal-body">
  <span class="modal-body-message">Are you sure you want to delete {{ctrl.selectedFile.filename}}?</span>
</div>
<div class="modal-footer">
  <button data-telemetry-id="fb-delete-modal-remove" class="btn btn-success" ng-click="ctrl.remove()">Remove Files</button>
  <button data-telemetry-id="fb-delete-modal-cancel" class="btn btn-danger" ng-click="ctrl.cancel()">Cancel</button>
</div>
