<div class="row">
  <div class="col-md-9">
    <ol class="breadcrumb">
      <li ng-click="ctrl.selectCrumb($index)" ng-repeat="directory in ctrl.breadcrumbs track by $index" ng-class="{active: $last}">{{directory}}</li>
    </ol>
  </div>
  <div class="col-md-3">
    <div class="fb-dir-actions text-center">
      <div class="btn-group btn-group-sm" role="group">
        <button id="upload-file-btn" type="button" class="btn btn-default" uib-tooltip="Upload" ng-click="ctrl.upload()" ng-disabled="!ctrl.selection.cwd" tooltip-trigger="mouseenter" tooltip-placement="bottom">
          <i class="fa fa-upload"></i>
        </button>
        <button id="create-file-btn" type="button" ng-click="ctrl.create('file')" ng-disabled="!ctrl.selection.cwd" class="btn btn-default" uib-tooltip="Create File" tooltip-trigger="mouseenter" tooltip-placement="bottom">
          <i class="fa fa-file-o"></i>
        </button>
        <button id="create-dir-btn" type="button" ng-click="ctrl.create('directory')" ng-disabled="!ctrl.selection.cwd"  class="btn btn-default" uib-tooltip="Create Directory"  tooltip-trigger="mouseenter" tooltip-placement="bottom">
          <i class="fa fa-folder-o"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div ng-class="{'col-sm-8 scrollable-table': ctrl.selection.selectedFile, 'col-sm-12 scrollable-table': !ctrl.selection.selectedFile}">
    <table id="dir-detail-table" st-table="ctrl.displayData" st-safe-src="ctrl.selection.cwd.contents" class="table">
      <thead>
      <tr>
        <th st-sort="ctrl.getters.name" st-sort-default="true">Name</th>
        <th st-sort="ctrl.getters.size">Size</th>
        <th>Owner</th>
        <th>Group</th>
        <th>Permissions</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in ctrl.displayData">
          <td><i class="fa" ng-class="{'fa-folder': file.type!=='file', 'fa-file': file.type==='file', 'fa-lock': false}" style="padding-right: 5px;"></i><span class="filetable-filename" ng-class="{'filetable-filename-selected': file.name === ctrl.selection.selectedFile.name}" ng-dblclick="ctrl.openDirectory(file)" ng-click="ctrl.selectFile(file)">{{file.name}} </span></td>
          <td>{{ file.size }}</td>
          <td>{{ file.owner }}</td>
          <td>{{ file.group }}</td>
          <td>{{ file.permissions }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-4 file-details" ng-show="ctrl.selection.selectedFile">
    <div fb-file-details></div>
  </div>
</div>
