<div class="modal-header">
    <h3 class="modal-title">Upload to {{ ctrl.dirpath}}</h3>
</div>
<div class="modal-body">
  <div class="row fill">
    <div class="col-md-12 main fill">
      <div class="col-md-12 main fill">
        <!-- <div
          class="file-upload btn btn-success col-centered">
          <span>Choose files</span>
          <input
            type="file"
            nv-file-select=""
            uploader="ctrl.uploader"
            multiple
            class="upload"
           />
        </div> -->
        <input
          type="file"
          nv-file-select=""
          uploader="ctrl.uploader"
          multiple
          class="upload"
         />
      </div>

      <div class="col-md-12" style="margin-bottom: 40px">

        <h3>Queue</h3>

        <table class="table">
          <thead>
            <tr>
              <th width="50%">Name</th>
              <th ng-show="ctrl.uploader.isHTML5">Size</th>
              <th ng-show="ctrl.uploader.isHTML5">Progress</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in ctrl.uploader.queue">
              <td><strong>{{ item.file.name }}</strong></td>
              <td ng-show="ctrl.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
              <td ng-show="ctrl.uploader.isHTML5">
                <div class="progress" style="margin-bottom: 0;">
                  <div
                    class="progress-bar"
                    ng-class="{'progress-bar-success':item.progress === 100,'progress-bar-danger':item.isError}"
                    role="progressbar"
                    ng-style="{ 'width': item.progress + '%' }">
                  </div>
                </div>
              </td>
              <td nowrap>
                <button
                  type="button"
                  class="btn btn-warning btn-xs"
                  ng-click="item.upload()"
                  ng-hide="!item.isCancel&&item.isUploading"
                >
                  <span class="fa fa-ban"></span> Restart
                </button>
                <button
                  type="button"
                  class="btn btn-warning btn-xs"
                  ng-click="item.cancel()"
                  ng-hide="!item.isUploading"
                >
                  <span class="fa fa-ban"></span> Cancel
                </button>
                <button
                  type="button"
                  class="btn btn-success btn-xs"
                  ng-click="item.remove()"
                  ng-hide="!item.isCancel&&item.isUploading"
                >
                  <span class="fa fa-check"></span> Done
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="ctrl.cancel()">Close</button>
</div>
