#terminal-pane {
  margin-top: 10px;
}

.terminal {
  position: absolute;
  top: 80px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  color: black !important;
  background-color: white !important;
  border: none !important;
}
