<div class="btn-group btn-group-sm btn-group-justified filetree-controls" role="group">
  <div class="btn-group btn-group-sm" role="group">
    <button
      type="button"
      class="btn btn-default filetree-btn"
      tooltip="Edit Selected"
      tooltip-trigger="mouseenter"
      tooltip-placement="bottom"
      ng-disabled="ctrl.sd.noSelections||ctrl.sd.dirSelected"
      ng-click="ctrl.openFilesInEditor()" data-telemetry-id="editor-filetree-controls-open-in-editor">
      <span class="fa fa-pencil"></span>
    </button>
  </div>
  <div class="btn-group btn-group-sm" role="group">
    <button
      type="button"
      class="btn btn-default filetree-btn"
      tooltip="Duplicate Selected"
      tooltip-trigger="mouseenter"
      tooltip-placement="bottom"
      ng-disabled="ctrl.sd.noSelections||ctrl.sd.multipleSelections"
      ng-click="ctrl.createDuplicate()" data-telemetry-id="editor-filetree-controls-create-duplicate">
      <span class="fa fa-files-o"></span>
    </button>
  </div>
  <div class="btn-group btn-group-sm" role="group">
    <button
      type="button"
      class="btn btn-default filetree-btn"
      tooltip="Delete Selected"
      tooltip-trigger="mouseenter"
      tooltip-placement="bottom"
      ng-disabled="ctrl.sd.noSelections"
      ng-click="ctrl.deleteFiles()" data-telemetry-id="editor-filetree-controls-delete-files">
      <span class="fa fa-trash-o"></span>
    </button>
  </div>
  <div
    id="fc-more-btn"
    class="btn-group btn-group-sm"
    role="group"
    dropdown
    is-open="ctrl.fcDropdown">
    <button
      type="button"
      class="btn btn-default dropdown-toggle filetree-btn"
      tooltip="More Actions"
      tooltip-trigger="mouseenter"
      tooltip-placement="bottom"
      ng-disabled="ctrl.sd.noSelections"
      dropdown-toggle data-telemetry-id="editor-filetree-controls-more-actions">
      <span class="fa fa-caret-down"></span>
    </button>
    <ul class="dropdown-menu filetree-dropdown" role="menu">
      <li>
        <a
          class="btn fc-dropdown-link"
          ng-disabled="ctrl.sd.noSelections||(ctrl.sd.multipleSelections||!ctrl.sd.dirSelected)"
          ng-click="ctrl.createNewFile()" data-telemetry-id="editor-filetree-controls-new-file">
          New File
        </a>
      </li>
      <li>
        <a
          class="btn fc-dropdown-link"
          ng-disabled="ctrl.sd.noSelections||(ctrl.sd.multipleSelections||!ctrl.sd.dirSelected)"
          ng-click="ctrl.createNewDir()" data-telemetry-id="editor-filetree-controls-new-dir">
          New Folder
        </a>
      </li>
      <li>
        <a
          class="btn fc-dropdown-link"
          ng-disabled="ctrl.sd.noSelections"
          ng-click="ctrl.copyFiles()" data-telemetry-id="editor-filetree-controls-copy-files">
          Copy
        </a>
      </li>
      <li>
        <a
          class="btn fc-dropdown-link"
          ng-disabled="ctrl.clipboardEmpty() || ctrl.sd.noSelections || (ctrl.sd.multipleSelections || !ctrl.sd.dirSelected)"
          ng-click="ctrl.pasteFiles()" data-telemetry-id="editor-filetree-controls-paste-files">
          Paste
        </a>
      </li>
      <li>
        <a
          class="btn fc-dropdown-link"
          ng-disabled="ctrl.sd.noSelections||ctrl.sd.multipleSelections"
          ng-click="ctrl.renameFile()" data-telemetry-id="editor-filetree-controls-rename-file">
          Rename
        </a>
      </li>
    </ul>
  </div>
</div>
