<div class="modal-header">
    <h3 class="modal-title"><i class="fa fa-exclamation fa-border"></i> File Changed On Disk</h3>
</div>
<div class="modal-body">
  <span class="modal-body-message">This file has been changed on disk. Would you like to load the changes or save the file?</span>
  <ul>
    <li>
      {{ action.filepath }}
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="save()">Save File</button>
  <button class="btn btn-danger" ng-click="load()">Load Changes</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
