<!-- <div class="row">
  <div class="col-sm-12">
    <input type="text" class="filedetails-filename" ng-disabled="!ctrl.isEditing" ng-model="editFile.name" ng-blur="ctrl.renameFile()" ng-show="ctrl.isEditing" value="editFile.name">
    <span class="filedetails-filename" ng-hide="ctrl.isEditing">{{editFile.name}}</span>
    <i class="fa fa-pencil" ng-click="ctrl.isEditing=!ctrl.isEditing" style="cursor: pointer;"></i>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-12">
    <input type="text" class="filedetails-filename" ng-disabled="!editingName" ng-model="editFile.name" ng-blur="renameFile()" sync-focus-with="editingName">
    <i class="fa fa-pencil" ng-click="editingName=!editingName" style="cursor: pointer;"></i>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 file-detail">
    <b>Owner:</b>
  </div>
  <div class="col-sm-9 file-detail">
    &nbsp;{{editFile.owner}}
  </div>
  <div class="col-sm-3 file-detail">
    <p>
      <b>Group:</b>
    </p>
  </div>
  <div class="col-sm-9 file-detail">
    <select class="form-control input-sm" name="select" ng-model="editFile.group" ng-change="changeGroup()">
      <option ng-repeat="group in filesystem.groups">{{group}}</option>
    </select>
  </div>
  <div class="col-sm-3 file-detail">
    <b>Size:</b>
  </div>
  <div class="col-sm-9 file-detail">
    &nbsp;{{editFile.size}}
  </div>

  <div class="col-sm-3 file-detail">
    <b>Permissions:</b>
  </div>
  <div class="col-sm-12 file-detail">
    <table id="permissions-table" class="table">
      <thead>
        <tr>
          <td class="perm"></td>
          <td class="perm">read</td>
          <td class="perm">write</td>
          <td class="perm">execute</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entity in ['user','group','other'] track by $index">
          <td class="perm">
            {{entity}}
          </td>
          <td class="perm">
            <input type="checkbox" ng-model="editFile.permModel[$index*3]" ng-change="changePermissions()">
          </td>
          <td class="perm">
            <input type="checkbox" ng-model="editFile.permModel[$index*3+1]" ng-change="changePermissions()">
          </td>
          <td class="perm">
            <input type="checkbox"  ng-model="editFile.permModel[$index*3+2]" ng-change="changePermissions()">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="fb-dir-actions text-center">
      <div class="btn-group btn-group-sm" role="group">
        <button id="edit-file-btn" type="button" ng-click="openInEditor()" uib-tooltip="Open in Editor" class="btn btn-default filedetails-bottom-actions" ng-hide="editFile.type !== 'file'">
          <i class="fa fa-pencil"></i>
        </button>
        <button id="duplicate-file-btn" type="button" ng-click="duplicate()" uib-tooltip="Duplicate" class="btn btn-default filedetails-bottom-actions">
          <i class="fa fa-files-o"></i>
        </button>
        <button id="move-file-btn" type="button" ng-click="move()" uib-tooltip="Move" class="btn btn-default filedetails-bottom-actions">
          <i class="fa fa-arrows-alt"></i>
        </button>
        <button id="delete-file-btn" type="button" ng-click="delete()" uib-tooltip="Delete" class="btn btn-default filedetails-bottom-actions">
          <i class="fa fa-trash-o"></i>
        </button>
        <a href="{{downloadUrl}}" download="{{editFile.name}}" id="download-file-btn" uib-tooltip="Download" class="btn btn-default filedetails-bottom-actions" ng-if="downloadUrl">
          <i class="fa fa-download"></i>
        </a>
        <!-- <button id="download-file-btn" type="button" uib-tooltip="Download" class="btn btn-default filedetails-bottom-actions" ng-if="downloadUrl">
          <a href="{{downloadUrl}}" download="{{editFile.name}}"><i class="fa fa-download"></i></a>
        </button> -->
      </div>
    </div>
  </div>
</div>
