.filetree-container {
  margin-top: 50px;
  /*position: absolute;*/
  /*left: 15px;
  right: 15px;
  bottom: 30px;
  top: 20px;*/
  /*max-height: 80%;*/
  height: 87vh;
  overflow-x: scroll;
  overflow-y: scroll;
}
.filetree-container li {
  white-space: nowrap;
}
