<!DOCTYPE html>
<html ng-app="uiMockup" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Welcome to the OIDE!</title>
        <!-- Bootstrap core CSS -->
    <!-- <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <!-- link for CSS when using the tree as a Dom element -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-tree-control/css/tree-control.css">
    <!-- link for CSS when using the tree as an attribute -->
    <link rel="stylesheet" type="text/css" href="bower_components/angular-tree-control/css/tree-control-attribute.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="filetree.css">
    <style>
    /*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
/*:root {
  var-accentColor: #93c54b;
}*/

html, body {
  height: 100%;
}
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
#aceplace {
  padding-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  /*background-color: #666666;*/
  /*color: white;*/
  position: absolute;
  top: 60px;
  bottom: 90px;
  right: 6px;
  left: 6px;
  margin: 10px;
  margin-top: -4px;
  margin-bottom: 15px;
}
#editor-settings-icon {
  color: #3e3f3a;
  position: absolute;
  bottom: 120px;
  right: 30px;
  z-index: 1029;
}
#editor-settings-icon.clicked {
  color: white !important;
}
.tab-icon {
  position: relative;
  font-size: 11px;
  margin-left: 6px;
  top: -1px;
}
.tab-icon-selected {
  color: #3e3f3a;
}
#find-menu {
  position: absolute;
  bottom: 0px;
  right: 30px;
  left: 30px;
}
.partial-fill {
  height: 90%;
}
.fill {
  height: 100%;
}
.ace_search {
  background-color: #3E3F3A !important;
  border: 1px solid #3E3F3A !important;
  font: 12px/normal "Roboto", "Helvetica Neue" , Helvetica, Arial, monospace;
}
.filetree-container {
  /*padding-top: 55px;*/
}
.filetree-controls {
  color: #93c54b;
  margin-top: 5px;
  margin-bottom: 25px;
}
.filetree-btn {
  /*border-top: 1px solid #93c54b;*/
  border-bottom: 2px solid #93c54b;
  /*color: inherit;*/
}
#editor-nav-tabs li.active {
  z-index: 1029;
}
#editor-settings-menu {
  position: absolute;
  left: inherit;
  right: 0px;
}
#editor-settings-header {
  color: #93c54b;
  margin: 10px;
  margin-bottom: 30px;
}
#editor-settings-form {
  padding: 20px;
}
#editor-settings-sidebar {
  padding-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  top: 60px;
  bottom: 90px;
  right: 6px;
  color: white;
  margin: 10px;
  margin-top: -4px;
  margin-bottom: 15px;

  background-color: #3e3f3a;
  z-index: 1028;
}
    </style>



  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            ng-click="navbarCollapsed = !navbarCollapsed"
            ng-init="navbarCollapsed=true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OIDE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" collapse="navbarCollapsed">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Editor</a></li>
            <li><a href="#">File Browser</a></li>
            <li><a href="#">Terminal</a></li>
            <li><a href="#">Scheduler</a></li>
          </ul>
        </div>
      </div>
    </nav>




    <div class="container-fluid fill">
      <div class="row fill">
        <div class="filetree-container col-sm-3 col-md-2 sidebar" ng-controller="TreeCtrl">
          <!-- <div class="btn-toolbar filetree-controls" role="toolbar" aria-label="..."> -->
            <div class="btn-group btn-group-sm btn-group-justified filetree-controls" role="group">
              <div class="btn-group btn-group-sm" role="group">
                <button
                  type="button"
                  class="btn btn-default filetree-btn"
                  tooltip="New File"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="bottom"
                  ng-disabled="noSelections||(multipleSelections||!dirSelected)">
                  <span class="fa fa-file"></span>
                </button>
              </div>
              <div class="btn-group btn-group-sm" role="group">
                <button
                  type="button"
                  class="btn btn-default filetree-btn"
                  tooltip="New Folder"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="bottom"
                  ng-disabled="noSelections||(multipleSelections||!dirSelected)">
                  <span class="fa fa-folder"></span>
                </button>
              </div>
              <div class="btn-group btn-group-sm" role="group">
                <button
                  type="button"
                  class="btn btn-default filetree-btn"
                  tooltip="Edit Selected"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="bottom"
                  ng-disabled="noSelections||dirSelected">
                  <span class="fa fa-pencil"></span>
                </button>
              </div>
              <div class="btn-group btn-group-sm" role="group">
                <button
                  type="button"
                  class="btn btn-default filetree-btn"
                  tooltip="Duplicate Selected"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="bottom"
                  ng-disabled="noSelections||multipleSelections">
                  <span class="fa fa-files-o"></span>
                </button>
              </div>
              <div class="btn-group btn-group-sm" role="group">
                <button
                  type="button"
                  class="btn btn-default filetree-btn"
                  tooltip="Move Selected"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="bottom"
                  ng-disabled="noSelections">
                  <span class="fa fa-file-o"></span>
                </button>
              </div>
              <div class="btn-group btn-group-sm" role="group">
                <button
                  type="button"
                  class="btn btn-default filetree-btn"
                  tooltip="Delete Selected"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="bottom"
                  ng-disabled="noSelections">
                  <span class="fa fa-trash-o"></span>
                </button>
              </div>
              <div class="btn-group btn-group-sm" role="group">
                <button
                  type="button"
                  class="btn btn-default filetree-btn"
                  tooltip="File Info"
                  tooltip-trigger="mouseenter"
                  tooltip-placement="bottom"
                  ng-disabled="noSelections||multipleSelections">
                  <span class="fa fa-info"></span>
                </button>
              </div>
            </div>
          <!-- </div> -->
          <treecontrol
            class="tree-oide"
            tree-model="treeData"
            options="treeOptions"
            order-by="type+filename"
            selected-nodes="selectedNodes"
            on-selection="disableFilecontrols(node, selected)">
            {{node.filename}}
            <span class="filetree-permissions">{{node.permissions}}</span>
          </treecontrol>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main fill">
          <!-- <h2 class="sub-header">Section title</h2> -->
          <div id="editor-nav-tabs">
            <tabset vertical=false>
              <tab active="tab.active">
                <tab-heading>
                  Doc1
                  <span
                    class="fa fa-caret-down tab-icon dropdown"
                    ng-class="{'tab-icon-selected':hoverMenu}"
                    ng-mouseenter="hoverMenu=true"
                    ng-mouseleave="hoverMenu=false"
                    dropdown
                    dropdown-toggle>
                    <ul class="dropdown-menu">
                      <li><a href="#">Undo</a></li>
                      <li><a href="#">Redo</a></li>
                      <li><a href="#">Cut</a></li>
                      <li><a href="#">Copy</a></li>
                      <li><a href="#">Paste</a></li>
                      <li><a href="#">Find &amp; Replace</a></li>
                      <li><a href="#">Comment Selection</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Save</a></li>
                      <li><a href="#">Save As</a></li>
                      <li><a href="#">Close File</a></li>
                    </ul>
                  </span>
                  <span
                    class="fa fa-times tab-icon"
                    ng-class="{'tab-icon-selected':hoverClose}"
                    ng-mouseenter="hoverClose=true"
                    ng-mouseleave="hoverClose=false">
                  </span>
                </tab-heading>
              </tab>
              <tab>
                <tab-heading>
                  Doc2
                  <span class="fa fa-caret-down tab-icon"></span>
                  <span class="fa fa-times tab-icon"></span>
                  </tab-heading>
                </tab>
              <tab>
                <tab-heading>
                  Doc3
                  <span class="fa fa-caret-down tab-icon"></span>
                  <span class="fa fa-times tab-icon"></span>
                </tab-heading>
              </tab>
              <tab
                tooltip="Create New Document"
                tooltip-trigger="mouseenter"
                tooltip-placement="right">
                <tab-heading>
                  <span class="fa fa-plus"></span>
                </tab-heading>
              </tab>
            </tabset>
          </div>
          <div class="partial-fill">
            <!-- <span id="editor-settings-icon" class="glyphicon glyphicon-cog" popover="Editor Settings" popover-placement="bottom" popover-trigger="mouseenter"></span> -->
            <span id="editor-settings-icon"
              class="fa fa-cog fa-2x"
              tooltip="Editor Settings"
              tooltip-trigger="mouseenter"
              tooltip-placement="top"
              ng-mouseenter="hover=true"
              ng-mouseleave="hover=false"
              ng-init="settingsOpen=false"
              ng-class="{'clicked':settingsOpen,'fa-spin':hover}"
              ng-click="settingsOpen=!settingsOpen">
            </span>
            <div id="editor-settings-sidebar" ng-show="settingsOpen">
              <h3 id="editor-settings-header" class="pull-right">Editor Settings</h3>
              <form
                id="editor-settings-form"
                role="form"
                ng-controller="EditorSettingsCtrl">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        ng-model="editorSettings.useSoftTabs"
                        ng-change="applyEditorSettings()">
                      Use soft tabs
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="settings-tab-size">Tab size</label>
                    <select
                      id="settings-tab-size"
                      class="form-control input-sm"
                      ng-model="editorSettings.tabSize"
                      ng-change="applyEditorSettings()"
                      ng-options="opt as opt.label for opt in tabOptions">
                    </select>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        ng-model="editorSettings.showInvisibles"
                        ng-change="applyEditorSettings()">
                      Show invisible characters
                    </label>
                  </div>
                  <div class="form-group">
                    <label for="settings-font-size">Font Size</label>
                    <select
                      id="settings-font-size"
                      class="form-control input-sm"
                      ng-model="editorSettings.fontSize"
                      ng-change="applyEditorSettings()"
                      ng-options="opt as opt.label for opt in fontOptions">
                    </select>
                  </div>
                </form>
              </div>
            <div
              id="aceplace"
              ui-ace="{onLoad:onAceLoad}"
              ng-model="editorModel"
              ng-controller="EditorCtrl">
            </div>

            <form
              id="find-menu"
              class="form-horizontal"
              ng-controller="EditorFindCtrl">
              <div class="form-group form-group-sm">
                <div class="input-group input-group-sm" >
                  <span
                    class="input-group-addon"
                    tooltip="Case Sensitive"
                    tooltip-trigger="mouseenter"
                    tooltip-placement="top">
                    <input
                      type="checkbox"
                      ng-model="findOptions.caseSensitive">
                    Aa
                  </span>
                  <span
                    class="input-group-addon"
                    tooltip="Match Whole Word"
                    tooltip-trigger="mouseenter"
                    tooltip-placement="top">
                    <input
                      type="checkbox"
                      ng-model="findOptions.wholeWord">
                    \b
                  </span>
                  <span
                    class="input-group-addon"
                    tooltip="Use Regular Expressions"
                    tooltip-trigger="mouseenter"
                    tooltip-placement="top">
                    <input
                      type="checkbox"
                      ng-model="findOptions.regExp">
                    [.*]
                  </span>
                  <span
                    class="input-group-addon"
                    tooltip="Wrap Around"
                    tooltip-trigger="mouseenter"
                    tooltip-placement="top">
                    <input
                      type="checkbox"
                      ng-model="findOptions.wrap">
                    Wrap
                  </span>
                  <input
                    type="text"
                    placeholder="Find string in current document..."
                    class="form-control"
                    ng-model="findNeedle">
                  <div class="input-group-btn">
                    <button
                      type="button"
                      class="btn btn-default"
                      ng-click="findPreviousString()">
                      &laquo; Find Previous
                    </button>
                    <button
                      type="button"
                      class="btn btn-default"
                      ng-click="findString()">
                      Find Next &raquo;
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group form-group-sm">
                <div class="input-group input-group-sm" >
                  <input
                    type="text"
                    placeholder="Replace selected string with..."
                    class="form-control"
                    ng-model="replaceNeedle">
                  <div class="input-group-btn">
                    <button
                      type="button"
                      class="btn btn-default"
                      ng-click="replaceCurrentString()">
                      Replace
                    </button>
                    <button
                      type="button"
                      class="btn btn-default"
                      ng-click="replaceAllStrings()">
                      Replace All
                    </button>
                  </div>
                </div>
              </div>

            </form>

          </div>


        </div>
      </div>
    </div>


    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-bootstrap/dist/ui-bootstrap-tpls-0.12.0.min.js"></script>
    <script type="text/javascript" src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script type="text/javascript" src="bower_components/angular-tree-control/angular-tree-control.js"></script>
    <script>
      angular.module('uiMockup', ['ui.bootstrap','ui.ace','treeControl']);
      angular.module('uiMockup').controller('EditorCtrl', ['$scope', 'EditorService', function($scope, EditorService) {
        $scope.onAceLoad = function(_ace) {
          EditorService.onAceLoad(_ace);
        };
      }]);
      angular.module('uiMockup').controller('EditorFindCtrl', ['$scope', 'EditorService', function ($scope, EditorService) {
        $scope.findOptions = EditorService.findOptions;
        $scope.findString = function () {
          EditorService.findString($scope.findNeedle);
        };
        $scope.findPreviousString = function () {
          EditorService.findPreviousString($scope.findNeedle);
        };
        $scope.replaceCurrentString = function () {
          EditorService.replaceCurrentString($scope.replaceNeedle);
        };
        $scope.replaceAllStrings = function () {
          EditorService.replaceAllStrings($scope.replaceNeedle);
        };
      }]);
      angular.module('uiMockup').controller('EditorSettingsCtrl', ['$scope', 'EditorService', function ($scope, EditorService) {
        // $scope.editorSettings.fontSize = { label:12, value:12 };
        // $scope.editorSettings.tabSize = { label:4, value:4 };
        var fontSizes = [];
        var tabSizes = [];
        for (var i=1;i<9;i++) { tabSizes.push({ label:i, value:i }) }
        for (var i=8;i<21;i+=2) { fontSizes.push({ label:i, value:i }) }
        $scope.fontOptions = fontSizes;
        $scope.tabOptions = tabSizes;

        $scope.editorSettings = EditorService.editorSettings;
        $scope.applyEditorSettings = function () {
          EditorService.applyEditorSettings();
        };
      }]);
      angular.module('uiMockup').factory('EditorService', ['$log', function ($log) {
        var editor = {};
        var editorSettings = {
          showInvisibles: true,
          useSoftTabs: true,
          fontSize: {label:12, value:12},
          tabSize: {label:4, value:4},
          showIndentGuides: true
        };
        var findOptions = {
          backwards: false,
          wrap: true,
          caseSensitive: false,
          wholeWord: false,
          regExp: false
        };
        var applySettings = function () {
          editor.setShowInvisibles(editorSettings.showInvisibles);
          editor.getSession().setUseSoftTabs(editorSettings.useSoftTabs);
          editor.setFontSize(editorSettings.fontSize.value);
          editor.getSession().setTabSize(editorSettings.tabSize.value);
          editor.setDisplayIndentGuides(editorSettings.showIndentGuides);
        };
        return {
          findOptions: findOptions,
          editorSettings: editorSettings,
          onAceLoad: function (_ace) {
            editor = _ace;
            applySettings();
            $log.debug('Loaded Ace instance: ', editor);
          },
          applyEditorSettings: function () {
            applySettings();
          },
          findString: function (needle) {
            editor.find(needle, findOptions);
          },
          findPreviousString: function (needle) {
            editor.findPrevious(needle, findOptions);
          },
          replaceCurrentString: function (replaceNeedle) {
            editor.replace(replaceNeedle);
          },
          replaceAllStrings: function (replaceNeedle) {
            editor.replaceAll(replaceNeedle);
          }
        };
      }]);
      angular.module('uiMockup').controller('TreeCtrl', ['$scope', function($scope) {
          function createSubTree(level, width, prefix) {
                if (level > 0) {
                    var res = [];
                    for (var i=1; i <= width; i++)
                        res.push({ "label" : "Node " + prefix + i, "id" : "id"+prefix + i, "i": i, "children": createSubTree(level-1, width, prefix + i +".") });
                    return res;
                }
                else
                    return [];
            }
          $scope.treeData=[
                { "type": "dir", "filename" : "/lustre/", "children" : [
                    { "type": "file", "filename" : "aTestFile.py", "permissions" : "rwxrw-r--", "children" : [] },
                    { "type": "file", "filename" : "testFile.py", "permissions" : "rwxrw-r--", "children" : [] },
                    { "type": "dir", "filename" : "ProjectDir", "permissions" : "rwxrw-r--", "children" : [
                        { "type": "dir", "filename" : "modules", "permissions" : "rwxrw-r--", "children" : [
                            { "type": "file", "filename" : "__init__.py", "permissions" : "rwxrw-r--", "children" : [] },
                            { "type": "file", "filename" : "coolModule.py", "permissions" : "rwxrw-r--", "children" : [] }
                        ]}
                    ]}
                ]},
                { "type": "dir", "filename" : "/projects/", "children" : [
                  { "type": "file", "filename" : "outfile.txt", "permissions" : "rwxrw-r--", "children" : [] }
                ]}
            ];
          $scope.treeOptions = {
            multiSelection: true,
            injectClasses: {
              iExpanded: "filetree-icon fa fa-folder-open",
              iCollapsed: "filetree-icon fa fa-folder",
              iLeaf: "filetree-icon fa fa-file",
            }
          };
          $scope.noSelections = true;
          $scope.multipleSelections = false;
          $scope.dirSelected = false;
          $scope.selectedNodes = [];
          $scope.disableFilecontrols = function(node, selected) {
            $scope.multipleSelections = $scope.selectedNodes.length > 1;
            $scope.noSelections = $scope.selectedNodes.length === 0;
            var dirSelected = false;
            for (var i in $scope.selectedNodes) {
              if ($scope.selectedNodes[i].type==='dir') {
                dirSelected = true;
              }
            }
            $scope.dirSelected = dirSelected;
          };
          $scope.showSelected = function(node, selected) {
            console.log(node);
            console.log(selected);
              // $scope.selectedNodes = selected;
          };
      }]);
    </script>
  </body>
</html>
