.filetree-icon {
    color: #3e3f3a;
}
treecontrol.tree-oide li.tree-expanded i {
    padding: 1px 10px;
    /*background: url("../images/folder.png") no-repeat;*/
    /*content: "\f114";*/
}

treecontrol.tree-oide li.tree-collapsed i {
    padding: 1px 10px;
    /*background: url("../images/folder-closed.png") no-repeat;*/
}

treecontrol.tree-oide li.tree-leaf i {
    padding: 1px 10px;
    /*background: url("../images/file.png") no-repeat;*/
}

treecontrol.tree-oide li .tree-selected {
    /*background-color: #aaddff;*/
    color: #337ab7;
    font-weight: bold;
}

[treecontrol].tree-oide li.tree-expanded i {
    padding: 1px 10px;
    /*background: url("../images/folder.png") no-repeat;*/
    /*content: "\f114";*/
}

[treecontrol].tree-oide li.tree-collapsed i {
    padding: 1px 10px;
    /*background: url("../images/folder-closed.png") no-repeat;*/
}

[treecontrol].tree-oide li.tree-leaf i {
    padding: 1px 10px;
    /*background: url("../images/file.png") no-repeat;*/
}

[treecontrol].tree-oide li .tree-selected {
    /*background-color: #aaddff;*/
    color: #337ab7: bold;
}