div[sandstone-filetree] {}
div[sandstone-filetree] > .filetree-container {
  overflow-x: auto;
  overflow-y: auto;
}

div[sandstone-filetree] > .filetree-container li {
  white-space: nowrap;
}

/*
 * Modal styles
 */
.modal-filetree {
  overflow: auto;
  height: 60vh;
}

/*
 * Other FT styles
 */
.sidebar-filetree {
  overflow: auto;
  height: 90%;
}
