div[sandstone-filetree] {
  height: 100%;
}
div[sandstone-filetree] > .filetree-container {
  margin-top: 50px;
  /*position: absolute;*/
  /*left: 15px;
  right: 15px;
  bottom: 30px;
  top: 20px;*/
  /*max-height: 80%;*/
  height: 90%;
  overflow-x: scroll;
  overflow-y: scroll;
}
div[sandstone-filetree] > .filetree-container li {
  white-space: nowrap;
}
