div[sandstone-filetree] {
  /*height: 100%;*/
}
div[sandstone-filetree] > .filetree-container {
  margin-top: 50px;
  height: 90%;
  overflow-x: auto;
  overflow-y: auto;
}
div[sandstone-filetree] > .filetree-container li {
  white-space: nowrap;
}

/*
 * Modal styles
 */
.modal-filetree {
  overflow: auto;
  height: 60vh;
}

/*
 * Other FT styles
 */
.sidebar-filetree {
  overflow: auto;
  height: 90%;
}
